h1 {
    text-align: justify;
    margin: 20px 100px;
}

h4 {
    text-align: center;
}
p {
    font-size: 16px;
    text-align: justify;
    margin: 20px 100px;
}

body {
    max-width: 70%;
    margin: 50px auto 0;
    background-image: url(./images/fundo2.png);
}

.main-img {
    display: block;
    margin: 0 auto;
  }

.div-img {
    background-color: rgb(210, 220, 226);
}

.logo {
    margin: 10px 100px;
}

.div-header {
    position: relative;
}

nav {
    position: absolute;
    right: 10%;
    top: 35%;
}

ol, form {
    margin-left: 100px;
}

hr {
    width: 85%;
}
