{% extends "base.html" %}

{% block title %} Contatos {% endblock %}

{% block content %}
<div>
    <div>
        <h1 class="titulo">Entre em contato</h1>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, molestiae.</p>
    </div>

    <hr>

    <div>
        <form>
            <label for="email">Seu e-mail:</label><br>
            <input type="email"><br>
            <label for="assunto">Assunto:</label><br>
            <input type="text"><br>
            <label for="descricao">Descrição:</label><br>
            <textarea></textarea><br>
            <input type="submit">
        </form>
    </div>
</div>
{% endblock %}