{% extends "base.html" %}
    
{% block title %} Página inicial {% endblock %}
    
{% block content %}
    <div>
        <div class="div-img">
            <img src="static/images/capa.png" alt="capa" class="main-img">
        </div>
            
        <div>
            <h1 class="titulo">Sobre a Universidade</h1>
                
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam modi blanditiis, nemo veniam consequatur perspiciatis! Aliquam quasi maxime numquam vel alias veniam itaque aut eos! Quas, recusandae consequatur dolores vel aut beatae voluptas placeat temporibus vero dignissimos voluptate laudantium assumenda, eum ab deleniti accusantium ea blanditiis qui veritatis? Libero, laborum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam modi blanditiis, nemo veniam consequatur perspiciatis! Aliquam quasi maxime numquam vel alias veniam itaque aut eos! Quas, recusandae consequatur dolores vel aut beatae voluptas placeat temporibus vero dignissimos voluptate laudantium assumenda, eum ab deleniti accusantium ea blanditiis qui veritatis? Libero, laborum! 
            </p>
                
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus alias vero fugiat necessitatibus, quae odit natus consequuntur tempora tempore tenetur magnam iste commodi ut architecto ex adipisci. Repudiandae, commodi dicta. Libero architecto aut ullam iusto? Fuga in tempore ea quis soluta atque repellat officiis distinctio optio officia, eius deleniti? Voluptas! Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam modi blanditiis, nemo veniam consequatur perspiciatis! Aliquam quasi maxime numquam vel alias veniam itaque aut eos! Quas, recusandae consequatur dolores vel aut beatae voluptas placeat temporibus vero dignissimos voluptate laudantium assumenda, eum ab deleniti accusantium ea blanditiis qui veritatis? Libero, laborum!
            </p>
        </div>
    </div>
{% endblock %}